* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #111;
    color: #f4f4f4;
    padding: 0;
    line-height: 1.6;
    text-align: center;
  }

  h1 {
    font-size: 3em;
    font-weight: bold;
    color: #ffffff;
    margin-top: 40px;
  }
  
  h2, h3 {
    font-size: 2em;
    color: #cccccc;
    margin: 20px 0;
  }
  
  form {
    background-color: #222;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    max-width: 600px;
  }
  
  form[id="login"],
  form[id="logout"],
  form[id="edit"],
  form[id="home"]{
    background-color: #222;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
    box-shadow: 0 10px 35px rgba(180, 56, 174, 0.3);
    max-width: 600px;
  }

  form label {
    display: block;
    color: #888888;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: left;
  }
  
  form input[type="text"],
  form input[type="content"],
  form input[type="password"] {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    background: #333;
    border: none;
    border-radius: 5px;
    color: #f4f4f4;
    font-size: 1em;
  }
  
  form button[type="submit"],
  form input[type="submit"] {
    background-color: #555;
    color: white;
    font-size: 1em;
    padding: 15px 20px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  form button[type="submit"]:hover {
    background-color: #888;
  }

  /* this could def be more efeicent */
  label[for="passwordLN"],
  label[for="usernameLN"],
  label[for="title"],
  label[for="content"],
  label[for="story_title"],
  label[for="contribution"]
  {
    display: block;
    color: #ed93d2;
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: left;
  }
  
  a {
    color: #888;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s;
  }

  a[id="reg"]{
    color: #ed93d2;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px;
    display: inline-block;
    transition: color 0.3s;
  }
  
  a:hover {
    color: #bbb;
  }

  a[id="reg"]:hover {
    color: #8d3c75;
  }

  h3 {
    font-size: 1.5em;
    color: #f4f4f4;
    margin-top: 40px;
  }
  
  p {
    background-color: #222;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.1em;
    color: #cccccc;
    line-height: 1.8;
    max-width: 800px;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  

  .all-stories h3 {
    margin-top: 60px;
    color: #f4f4f4;
    font-size: 1.8em;
  }
  
  .all-stories p {
    background-color: #333;
    color: #dddddd;
    padding: 20px;
    border-left: 5px solid #888;
    border-radius: 5px;
    margin: 20px 0;
  }
